
.radios{
  padding-top: 1rem;
  .radio{
    width: 100%;
    margin-bottom: 2rem;
  }
  input{
    display:none;
    + label{
      position: relative;
      padding-left: 4rem;
      cursor: pointer;
      &:before{
        content:"";
        display: block;
        width: 2rem;
        height: 2rem;
        border-radius: 100rem;
        position: absolute;
        left: 0;
        top: 1px;
        border: 1px solid $border;
      }
    }
    &:checked + label{
      &:after{
        content:"";
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 100rem;
        position: absolute;
        left: 5px;
        top: 6px;
        background: $black;
      }
    }
  }
}

