/* Standard icons */

.wicon{
	text-indent: -9999px;
	font-size: 0;
	background-repeat: no-repeat;
	background-size: contain;
	&.w-text{
		font-size: inherit;
		text-indent: 0;
		padding-left: 3rem;
		@media(min-width:$tab-wide){
			padding-left: 4.5rem;
		}
	}
	&.truck{
		background-image: url('#{$icons}/icon-truck.svg');
	}
	&.heart{
		background-image: url('#{$icons}/icon-heart.svg');
	}
	&.person{
		background-image: url('#{$icons}/icon-person.svg');
	}
	&.basket{
		background-image: url('#{$icons}/icon-basket.svg');
	}
	&.mag{
		background-image: url('#{$icons}/icon-mag.svg');
	}
}